html, body {
  margin: 0px;
  display: block;
  font-family: sans-serif;
  color: #000000dd;
}
h1 {
  text-align: center;
}
.dblock {
  margin: 0px;
  padding: 4rem 2rem;
}
.grass {
  /* TODO: Make this display my contribution chart */
  background-image: graph;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.popout {
  color: #000000ff;
}
