@import url('https://fonts.googleapis.com/css2?family=Roboto');
html, body {
  margin: 0px;
  display: block;
  font-family: 'Roboto', sans-serif;
  background-color: #201020;
  color: #dddddd;
  text-align: left;
}

.dblock {
  background-color: #00000088;
  margin: 0px;
  padding: 4rem 2rem;
}
.container {
  margin: 25px auto;
}
.grass {
  background-image: url('/contribCalImg');
  background-color: #000000ff; /* Handled by above image */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  max-width: 1000px;
  margin: auto;
  background-color: #05050588;
  border-radius: 25px;
  padding: 10px;
  padding-bottom: 20px;
  text-align: left;
}

.socialMedia {
  width: 32px;
  height: 32px;
  margin: 0px;
  display: inline;
}

.card {
  padding: 0px;
}

#introcov {
  position: relative;
  font-size: min(3em, 10vw);
}

#introhid {
  visibility: hidden;
}

#introtxt {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  transform: translate(0, -110%);
  overflow: visible;
}

#masonImage {
  height: 100px;
  float: right;
  border-radius: 50%;
}
