{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="dblock grass">
  <div class="overlay">
    <div id="introcov">
      <h1>Contact</h1>
    </div>
  </div>
</div>
<div class="container">
  {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success" role="alert">{{ success }}</div>
  {% endif %}

  <h2>Please fill in your contact information</h2>
  <form id="form" action="" method="post"validate() novalidate>
    {% csrf_token %}
    {{ form }}
    <br />
    <input type="hidden" id="captcha_score" name="captcha_score">
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>
{% endblock %}
{% block 'scripts' %}
<script src="{% static 'form.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_public }}"></script>
<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('{{ recaptcha_public }}', {action: "{% url 'mail' %}"}).then(function(token) {
      document.getElementById('captcha_score').value = token;
    });
  });
</script>
{% endblock %}
