{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="dblock grass">
  <div class="overlay">
    <div id="introcov">
      <h1 id="introhid">Hello! My name is Mason Fisher.<br />I'm a backend web developer.</h1>
      <h1 id="introtxt"></h1>
    </div>

    <div class="social">
      <a href="https://www.reddit.com/user/genesistoaster12"><img class="socialMedia" src="{% static 'social/Reddit.svg' %}" alt="Reddit"></a>
      <a href="https://www.github.com/MachineThing"><img class="socialMedia" src="{% static 'social/Github.svg' %}" alt="Github"></a>
      <a href="https://www.twitter.com/genesistoaster12"><img class="socialMedia" src="{% static 'social/Twitter.svg' %}" alt="Twitter"></a>
    </div>

    <p><img src="{% static 'mason.jpg' %}" alt="An image of Mason" id="masonImage">
      {% if bday %}<span title="Happy birthday Mason Fisher!">🎂</span>{% endif %}Mason Fisher is a {% if bday %}<span style="color: #ffc0cb;">{{ age }}</span> {% else %}{{ age }}{% endif %} year old student at Gull Lake High School.
      He was born on Saint Patrick's Day (March 17th) 2004.
      Mason is a programmer that programs in the Python programming language,
      which is a powerful and fast programming language which is widely used in the world.</p>
  </div>
</div>
<div class="container">
  <p>Note: This website is still a work in progress, please note some things may not work right now. Apologies for any inconviences.</p>
</div>
{% endblock %}
{% block 'scripts' %}
<script src="https://unpkg.com/typewriter-effect/dist/core.js"></script>
<script src="{% static 'intro.js' %}"></script>
{% endblock %}
