{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="dblock grass">
  <div class="overlay">
    <div id="introcov">
      <h1>Projects</h1>
    </div>
  </div>
</div>
<div class="container">
  {% for project in projects %}
  <div class="card bg-dark text-white">
    <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}</h5>
      <p class="card-text">{{ project.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
